
- Order details (item IDs, item quantities, item prices, tax estimates, total, date/time)
- Catalog data (item attributes - size, color,etc)
- Customer type (registered/guest, plus member) 
- Customer zip code 
- Address type (home/office or APO/FPO)
- Shipping methods displayed to the customer (plus, standard, two day, next day)
- Displayed delivery dates for standard / two day / next day shippings
- Delivery option finally selected by a customer (plus, standard, two day, next day)
- Any discounts or promo codes used
- Did customer finally placed the order

## Feature list:

- Order details (item IDs, item quantities, item prices, tax estimates, total, date/time)
- Catalog data (item attributes - size, color,etc)
- Customer type (registered/guest, plus member) 
- Customer zip code 
- Address type (home/office or APO/FPO)
- Shipping methods displayed to the customer (plus, standard, two day, next day)
- __Displayed delivery dates for standard / two day / next day shippings__
- __Delivery option finally selected by a customer (plus, standard, two day, next day)__
- Any discounts or promo codes used
- Did customer finally placed the order


## Target field:
- ETD

Order_details.csv

|Feature|Feature type|Comments|
|---|---|---|
|Item Id | Nominal|   |
|Item quantities |   |   
|Item price |Nominal| |
|Tax estimate | Nominal| |
|Total| Nominal ||
|Date / Time | Continuous / Nominal||
|Customer Id| Nomial / Continuous ||


attribute.csv


|Feature|Feature type|Comments|
|---|---|---|
|Size | Continuous|   |
|Color | Categorical  |   



customer_type.csv 

|Feature|Feature type|Comments|
|---|---|---|
|registered| Categorical|   |
|Customer zip code | Categorical  |  
|member| Categorical  |  


Main.csv



|Feature|Feature type|Comments|
|---|---|---|
|Customer Id | Nominal | Join field |
|ZIP| Nominal | Geoposition must have strong influence (pub holiday / working days)|
|Address type | Categorical | home/office or APO/FPO |

- ETD depends on the number of items which has been bought(since if it fulls the trunk then no space left), meaning that if we plot the number
- ETD migh depends day of the week
- ETD might depend on holidays 
- ETD might depend on ZIP like (holiday on that region, holiday on that state / geographic area)
- ETD who bought if a company bought items then it might affect the arrival time (unimportant feature)
- ETD might depend on whether the customer had placed the order or not
- ETD with canceled date on swarmplot
- ETD delay might be caused by number of items (if it increasing along number of items of same type)
- ETD might be caused by the day in which item has been ordered or shipped
- ETD might be caused by payment type or due to processing status changed in the last day of the week or near weekend
- more orders to zip less ETD
- ETD delayed by state
- ETD with respect to number of votes


Custome feature:
- product deliver workind day except holidays with respect to arrival time group by season like  [autumn, winter, ...]
- product deliver in public holiday with respect to arrival time
- product deliver in public holiday with respect to local holidays like 
- identify by customer's address if loyalty card is present (less probably)


Ideas:
- try to group by fields one by one and see if it makes  sense
- If an item or group of items is causing the delay in ETD
- Does high review rate cause High delayed items?

Since we are trying to predict the ETD, let's sounds interesting to plot items which has been delayed and try to figure out what was the cause for that


Question:
- whether do we have real arrival time or not?
- Does the dataset contains data with statust arrived, travel, haven't arrived?
- Does we have to predict ETD for which physical client (B2C) or business client (B2B)

In [1]:
# If you have only one Hypothesis to suggest for this project which one it will be (named it)
# data cleaning since we are interesting in those who has been successful delivered without any delay maybe we should 
# try to understand what is the shape of data for them



## Visualization phase

what we are trying to find:
- any behaviour that seems to be closed to Normal distribution, or closed to 


to be ploted:
1. _product delived in public holidays (order date) group by seasson_ as a histogram

## Project EDA

In [1]:
import pandas as pd

In [2]:
order_items = pd.read_csv('input/olist_order_items_dataset.csv')

In [4]:
order_items.head(10)

,order_id,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value
0,00010242fe8c5a6d1ba2dd792cb16214,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-09-19 09:45:35,58.90,13.29
1,00018f77f2f0320c557190d7a144bdd3,1,e5f2d52b802189ee658865ca93d83a8f,dd7ddc04e1b6c2c614352b383efe2d36,2017-05-03 11:05:13,239.90,19.93
2,000229ec398224ef6ca0657da4fc703e,1,c777355d18b72b67abbeef9df44fd0fd,5b51032eddd242adc84c38acab88f23d,2018-01-18 14:48:30,199.00,17.87
3,00024acbcdf0a6daa1e931b038114c75,1,7634da152a4610f1595efa32f14722fc,9d7a1d34a5052409006425275ba1c2b4,2018-08-15 10:10:18,12.99,12.79
4,00042b26cf59d7ce69dfabb4e55b4fd9,1,ac6c3623068f30de03045865e4e10089,df560393f3a51e74553ab94004ba5c87,2017-02-13 13:57:51,199.90,18.14
5,00048cc3ae777c65dbb7d2a0634bc1ea,1,ef92defde845ab8450f9d70c526ef70f,6426d21aca402a131fc0a5d0960a3c90,2017-05-23 03:55:27,21.90,12.69
6,00054e8431b9d7675808bcb819fb4a32,1,8d4f2bb7e93e6710a28f34fa83ee7d28,7040e82f899a04d1b434b795a43b4617,2017-12-14 12:10:31,19.90,11.85
7,000576fe39319847cbb9d288c5617fa6,1,557d850972a7d6f792fd18ae1400d9b6,5996cddab893a4652a15592fb58ab8db,2018-07-10 12:30:45,810.00,70.75
8,0005a1a1728c9d785b8e2b08b904576c,1,310ae3c140ff94b03219ad0adc3c778f,a416b6a846a11724393025641d4edd5e,2018-03-26 18:31:29,145.95,11.65
9,0005f50442cb953dcd1d21e1fb923495,1,4535b0e1091c278dfd193e5a1d63b39f,ba143b05f0110f0dc71ad71b4466ce92,2018-07-06 14:10:56,53.99,11.40

In [5]:
order_payments = pd.read_csv('input/olist_order_payments_dataset.csv') 
# hypothesise:

In [8]:
# order_payments.payment_type.unique().tolist()
order_payments.head(10)

,order_id,payment_sequential,payment_type,payment_installments,payment_value
0,b81ef226f3fe1789b1e8b2acac839d17,1,credit_card,8,99.33
1,a9810da82917af2d9aefd1278f1dcfa0,1,credit_card,1,24.39
2,25e8ea4e93396b6fa0d3dd708e76c1bd,1,credit_card,1,65.71
3,ba78997921bbcdc1373bb41e913ab953,1,credit_card,8,107.78
4,42fdf880ba16b47b59251dd489d4441a,1,credit_card,2,128.45
5,298fcdf1f73eb413e4d26d01b25bc1cd,1,credit_card,2,96.12
6,771ee386b001f06208a7419e4fc1bbd7,1,credit_card,1,81.16
7,3d7239c394a212faae122962df514ac7,1,credit_card,3,51.84
8,1f78449c87a54faf9e96e88ba1491fa9,1,credit_card,6,341.09
9,0573b5e23cbd798006520e1d5b4c6714,1,boleto,1,51.95

## Resources
1. Estimating arrival times of people in a shop using R https://www.r-bloggers.com/estimating-arrival-times-of-people-in-a-shop-using-r/
2. Pretty close to https://www.kaggle.com/olistbr/brazilian-ecommerce#olist_order_items_dataset.csv
3. https://www.kaggle.com/jsaguiar/e-commerce-exploratory-analysis

## Unsure if it is useful
1. https://www.kaggle.com/gsdeepakkumar/e-commerce-dataset-analysis
2. section 6 in the https://www.kaggle.com/wwkauze/eda-timeseries-and-geographic-understanding
3. https://www.kaggle.com/lukio43/a-simple-analysis-of-delayed-orders
4. https://www.kaggle.com/cristianomartins/simple-data-analysis
5. https://www.kaggle.com/goldendime/data-cleaning-viz-and-stat-analysis-on-e-com